{% extends 'base.html' %}

{% load thumbnail %}

{% block breadcrumbs %}
<li><a href="">Корзина</a></li>
{% endblock %}

{% block content %}

    <h1>Ваша корзина</h1>
    <table>
        <tr>
            <th width=300>Наименование</th>
            <th>Цена</th>
            <th width=20>X</th>
            <th>Стоимость</th>
            <th>Удаление</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td>{{ item.product.title }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
            <td><a href="{% url cart_remove item.product.id %}">Удалить</a></td>
        </tr>
        {% endfor %}

    </table>

        <p>Итог: {{ cart.summary }}</p>

        <p><a href="{% url cart_clear %}">Очистить корзину</a></p>

{% if cart.count > 0 %}

<h2>Оформление заказа</h2>
<form action="" method="post">{% csrf_token %}
        <p>{{ form.as_p }}</p>
        <p>{{ order_form.as_p }}</p>
<input type="submit" value="Заказать" />
</form>
{% endif %}

{% endblock %}
