{% extends 'base.html' %}

{% load thumbnail pagination_tags %}

{% block breadcrumbs %}
<li><a href="{% url product_list %}">Каталог</a></li> <li><a href="{% url discount_list %}">Скидки</a></li> <li><a href="">{{ discount.title }}</a></li>
{% endblock %}

{% block content %}

<h1>Скидки "{{ discount.title }}"</h1>

{% autopaginate discount.products.all 12 %}
<ul class="product-list">
{% for object in discount.products.all %}
<li class="col_4"><h2><a href="{% url product_detail object.slug %}">{{object.title}}</a></h2><br />
<a href="{% url product_detail object.slug %}"><img src="{% thumbnail object.get_cover_image 160x160 %}" /></a><br />
<p>Цена: <span class="unit-price">{{object.price}} р</span> {% if object.old_price %}<strike>{{object.old_price}} р</strike>{% endif %}</p>
<p>{{object.short_description}}</p>


<div class="clearfix">
<div style="margin-top: 4px; float:left">
<a class="button small" href="{% url product_detail object.slug %}">Подробнее</a>&nbsp;&nbsp;<a class="button red small" href="{% url cart_add object.id 1 %}">Купить</a>
</div>

</div>
<div class="clearfix"></div>

</li>

{% if forloop.counter|divisibleby:"3" %}<div class="clearfix"></div>{% endif %}

{% endfor %}
<div class="clearfix"></div>

{% paginate %}

{% endblock %}
