{% load latest_content thumbnail cart_tags seo_tags %}

<!DOCTYPE html>
<html>

<head>
<title>{% block title %}{% endblock %}</title>

<meta name="description" content="{% block description %}{% endblock %}"/>
<meta name="keywords" content="{% block keywords %}{% endblock %}" />

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />

{% block extra_head %}{% endblock %}
</head>

<body>

<div id="header">
{% block header %}
<div id="sitetitle"><a href="/">Интернет-магазин<br /> NP-Tour</a></div>
<div id="siteslogan">работаем быстро и качественно</div>

<div id="callinfo" class="rounded">Есть вопросы? Звоните<br /> <big><big><strong>+7-987-654-3210</strong></big></big><br />
<div id="callbutton" class="rounded"><a href="{% url callquery %}">Заказать звонок</a></div>
</div>

<div id="profile">
    <ul>
      
    {% if not user.is_authenticated %}
         <li><a href="{% url registration_register %}?next={{ request.path }}">Регистрация</a></li>
         <li><a href="{% url auth_login %}?next={{ request.path }}">Вход</a></li>
    {% else %}
         <li><b>{{ user.username }}</b></li>
         {% if user.is_staff %}<li><a href="{% url admin:index %}">Админка</a></li>{% endif %}
         <li><a href="{% url auth_logout %}?next={{ request.path }}">Выход</a></li>
    {% endif %}
    </ul>
</div>

<div id="sitemenu" class="rounded">

    <ul style="float: left">
        <li><a href="/">Главная</a></li>
        <li><a href="/products/">Товары</a></li>
        <li><a href="/articles/">Статьи</a></li>
        <li><a href="/info/">Оплата и доставка</a></li>
        <li><a href="/warranty/">Гарантия</a></li>
        <li><a href="/partner/">Партнерам</a></li>
        <li><a href="/about/">О нас</a></li>
        <li><a href="/contacts/">Контакты</a></li>
    </ul>

</div>
{% endblock %}
</div><!-- #header -->

<div id="main-wrapper">
{% block main %}

<div id="mainbar" class="rounded">
{% block mainbar %}
{% load mptt_tags latest_content %}
<h3>Категории</h3>
<ul>
{% full_tree_for_model romashop.Category as nodes %}
    {% recursetree nodes %}
        <li>
            <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endblock %}
</div><!-- #leftbar -->

<div id="content-wrapper">

<div id="breadcrumbs"><a href="/">Главная</a>
{% block breadcrumbs %} - Добро пожаловать!{% endblock %}
</div><!-- #breadcrumbs -->

<div id="content">
{% block content %}

<h2>Последние поступления</h2>
{% get_latest_public romashop.Product 5 as last_products %}
<ul>
{% for object in last_products %}
<li>

<h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2><br />

<img src="{% thumbnail object.images.get_cover_image 100x100 %}" /><br />

<p><span class="description">{{ object.short_description }}</p>

<a href="{{ object.get_absolute_url }}">Подробнее</a> <a href="{% url cart_add object.id 1 %}">Купить</a>


</li>
{% endfor %}
</ul>
{% endblock %}
</div><!-- #content -->

</div><!-- #content-wrapper -->

<div id="sidebar" class="rounded">
{% block sidebar %}

<div id="cart">
    <h3>Корзина</h3>
    {% get_cart as cart %}
    <ul>
    <li><a href="/checkout/">Товары: {{ cart.count }}<br />Сумма: {{ cart.summary }}</a></li>
    <li><div id="callbutton" class="rounded"><a href="/checkout/">Оформить заказ</a></div></li>
    </ul>
</div>

{% if user.is_authenticated %}
<div id="orders">
    <h3>Заказы</h3>
    <ul>
      <li><a href="/orders/">Мои заказы</a></li>
    </ul>
</div>
{% endif %}

<div id="reviews">
    <h3>Отзывы</h3>
    <ul>
    {% get_latest reviews.review 5 as reviews_list %}
    {% for object in reviews_list %}
    <li><i>{{ object.name }}</i>:<br />{{ object.text }}</li>
    {% endfor %}
    <li><a href="/reviews/add/">Оставить отзыв</a></li>
    </ul>
</div>
{% endblock %}
</div><!-- #sidebar -->

{% endblock %}{# main #}
<div class="clearfix"></div>
</div><!-- #main-wrapper -->

<div id="footer" class="rounded">
{% block footer %}
<div id="copyright">(c) автор, 2011</div>
<div id="author">разработка</div>
<div class="clearfix"></div>
{% endblock %}
</div><!-- #footer -->

</body>

</html>
